body { background:url(../images/in_bg.jpg) no-repeat top center;text-align:center;}
.panel { width:1225px; margin:900px auto 205px auto; text-align:left;}
.panel a { display:inline-block; margin-left:300px;}